:root {
    --colorRojo: #b81e14; 
    --colorGris: #92908b;
    --colorGrisOscuro: #444444; 
}

*{
    margin: 0 ;
    box-sizing: border-box;
}

 a {
    text-decoration: none;
    color: #ffff; 
} 

li {
    list-style-type: none;
}

ul{
    padding: 0;
}

.home {
    background-image: url('/img/bg-body.png');
    font-family: 'Roboto';
    max-width: 1280px;
    margin: 0 10px;
}

@media (min-width: 1280px) {
    body {
        margin: 0 auto;
    }
    
}